<menubar></menubar><br>
<br><br>
 <div class="container">
            <div class="panel panel-primary" style="width:750px;margin:0px auto">

              <div class="panel-heading">Please fill the below detail for registration!!!</div>
              <div class="panel-body">

  <form class="form-horizontal" action=" " method="post"  id="reg_form">
    
       	<legend> Basic information </legend>
        <fieldset>
            <!-- Text input-->
      
      <div class="form-group">
        <label class="col-md-4 control-label">First Name</label>
        <div class="col-md-6  inputGroupContainer">
          <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input  name="first_name" placeholder="First Name" class="form-control"  type="text">
          </div>
        </div>
      </div>
      
      <!-- Text input-->
      
      <div class="form-group">
        <label class="col-md-4 control-label" >Last Name</label>
        <div class="col-md-6  inputGroupContainer">
          <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input name="last_name" placeholder="Last Name" class="form-control"  type="text">
          </div>
        </div>
      </div>
      
     <div class="form-group">
        <label class="col-md-4 control-label">Gender</label>
        <div class="col-md-6 selectContainer">
          <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
            <select name="gender" class="form-control selectpicker" >
              <option value=" " >Please select your gender</option>
              <option>Male</option>
              <option>Female</option>
               </select>
          </div>
        </div>
      </div>


     <div class="form-group">
        <label class="col-md-4 control-label">Marital Status</label>
        <div class="col-md-6 selectContainer">
          <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
            <select name="maritalstatus" class="form-control selectpicker" >
              <option value=" " >Please select your Marital Status</option>
              <option>Single</option>
              <option>Divorced</option>
              <option>Other</option>
               </select>
          </div>
        </div>
      </div>

      <!-- Text input-->
      
      <div class="form-group">
        <label class="col-md-4 control-label">Gotra</label>
        <div class="col-md-6  inputGroupContainer">
          <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input name="gotra" placeholder="" class="form-control" type="text">
          </div>
        </div>
      </div>
      
      
      <!-- Text input-->
      
      <div class="form-group">
        <label class="col-md-4 control-label">Phone #</label>
        <div class="col-md-6  inputGroupContainer">
          <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
            <input name="phone" placeholder="(845)555-1212" class="form-control" type="text">
          </div>
        </div>
      </div>
    
       <!-- Text input-->
      
      <div class="form-group">
        <label class="col-md-4 control-label">Date of birth</label>
        <div class="col-md-6  inputGroupContainer">
          <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
            <input name="dob" placeholder="dd-MM-yyyy" class="form-control" type="text">
          </div>
        </div>
      </div>

       <!-- Text input-->
      
      <div class="form-group">
        <label class="col-md-4 control-label">Place of birth</label>
        <div class="col-md-6  inputGroupContainer">
          <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
            <input name="birthplace" placeholder="like delhi, haldwani, almora" class="form-control" type="text">
          </div>
        </div>
      </div>

       <!-- Text input-->
      
      <div class="form-group">
        <label class="col-md-4 control-label">Time of birth</label>
        <div class="col-md-6  inputGroupContainer">
          <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
            <input name="timeofbirth" placeholder="hh:mm am/pm (eg 02:40 am)" class="form-control" type="text">
          </div>
        </div>
      </div>
        
        </fieldset>

    <fieldset>
      
      <!-- Form Name -->
      <legend> Residential Information </legend>
    <!-- http://www.c-sharpcorner.com/article/how-to-upload-images-in-angular-2-application/ -->
      <div class="form-group"> <input type="file" name="student_img" required (change)="fileChange(input)" #input /> </div>  
        <div> <img [attr.src]='file_srcs[0]' alt="" /> </div> 
      <!-- Text input-->
      
      <div class="form-group">
        <label class="col-md-4 control-label">Full Address</label>
        <div class="col-md-6  inputGroupContainer">
          <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
            <input name="address" placeholder="Address" class="form-control" type="text">
          </div>
        </div>
      </div>
      


      <!-- Select Basic -->
      
      <div class="form-group">
        <label class="col-md-4 control-label">Country</label>
        <div class="col-md-6 selectContainer">
          <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
            <select name="country" class="form-control selectpicker" >
              <option value=" " >Please select your country</option>
              <option>India</option>
               </select>
          </div>
        </div>
      </div>

      <!-- Text input-->
      
      <div class="form-group">
        <label class="col-md-4 control-label">City</label>
        <div class="col-md-6 selectContainer">
          <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
            <select name="city" class="form-control selectpicker" >
              <option value=" " >Please select your city</option>
              <option>Uttrakhand</option>
               </select>
          </div>
        </div>
      </div>


      <div class="form-group">
        <label class="col-md-4 control-label">Place</label>
        <div class="col-md-6  inputGroupContainer">
          <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
            <input name="place" placeholder="like haldwani, nanital" class="form-control"  type="text">
          </div>
        </div>
      </div>
      
      
      <!-- Text input-->
      
      <div class="form-group">
        <label class="col-md-4 control-label">Zip Code</label>
        <div class="col-md-6  inputGroupContainer">
          <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
            <input name="zip" placeholder="Zip Code" class="form-control"  type="text">
          </div>
        </div>
      </div>
      
        <!-- Text area -->
      
      <div class="form-group">
        <label class="col-md-4 control-label">About </label>
        <div class="col-md-6  inputGroupContainer">
          <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
            <textarea class="form-control" name="comment" placeholder="About "></textarea>
          </div>
        </div>
      </div>
      
     
       </fieldset>

       	<legend> Account information </legend>
        <fieldset>
        <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label">E-Mail</label>
        <div class="col-md-6  inputGroupContainer">
          <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input name="email" placeholder="E-Mail Address" class="form-control"  type="text">
          </div>
        </div>
      </div>
      
    
        <div class="form-group has-feedback">
            <label for="password"  class="col-md-4 control-label">
                    Password
                </label>
                <div class="col-md-6  inputGroupContainer">
                <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
            <input class="form-control" id="userPw" type="password" placeholder="password" 
                       name="password" data-minLength="5"
                       data-error="some error"
                       required/>
                <span class="glyphicon form-control-feedback"></span>
                <span class="help-block with-errors"></span>
                </div>
             </div>
        </div>
     
        <div class="form-group has-feedback">
            <label for="confirmPassword"  class="col-md-4 control-label">
                   Confirm Password
                </label>
                 <div class="col-md-6  inputGroupContainer">
                <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
            <input class="form-control {$borderColor}" id="userPw2" type="password" placeholder="Confirm password" 
                       name="confirmPassword" data-match="#confirmPassword" data-minLength="5"
                       data-match-error="some error 2"
                       required/>
                <span class="glyphicon form-control-feedback"></span>
                <span class="help-block with-errors"></span>
      			 </div>
             </div>
        </div>
     
      <input type="checkbox" required name="terms" onchange="this.setCustomValidity(validity.valueMissing ? 'Please indicate that you accept the Terms and Conditions' : '');" id="field_terms">   <label for="terms">I agree with the <a href="/terms.html" title="You may read our terms and conditions by clicking on this link">terms and conditions</a> for Registration.</label><span class="req">* </span>
  
      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4">

             

          <button type="submit" class="btn btn-warning" >Send <span class="glyphicon glyphicon-send"></span></button>
        </div>
      </div>
    </fieldset>
  </form>
 </div>
      </div>
 </div>
  